<a href="https://colab.research.google.com/github/poojajangid19/Data-Analyst/blob/main/Pandas_McKinsey_cs_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Importing pandas and numpy

In [ ]:
import pandas as pd
import numpy as np

Use case Introduction

To understand the relation between GDP per capita and life expectancy and various trends.
The survey contains info of several years about:
country
population size
life expectancy
GDP per Capita

Reading Dataset

Link:https://drive.google.com/file/d/1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_/view?usp=sharing

In [ ]:
!wget "https://drive.google.com/file/d/1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_/view?usp=drive_link_" -O gapminder.csv

--2026-01-04 04:24:15--  https://drive.google.com/file/d/1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_/view?usp=drive_link_
Resolving drive.google.com (drive.google.com)... 74.125.204.100, 74.125.204.139, 74.125.204.102, ...
Connecting to drive.google.com (drive.google.com)|74.125.204.100|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘gapminder.csv’

gapminder.csv           [ <=>                ]  52.30K  --.-KB/s    in 0.02s

2026-01-04 04:24:16 (2.90 MB/s) - ‘gapminder.csv’ saved [53556]

In [ ]:
df=pd.read_csv('/content/mckinsey.csv')
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [ ]:
df.head(10)

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
6  Afghanistan  1982    12881816      Asia    39.854  978.011439
7  Afghanistan  1987    13867957      Asia    40.822  852.395945
8  Afghanistan  1992    16317921      Asia    41.674  649.341395
9  Afghanistan  1997    22227415      Asia    41.763  635.341351

In [ ]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [ ]:
df.tail(10)

       country  year  population continent  life_exp     gdp_cap
1694  Zimbabwe  1962     4277736    Africa    52.358  527.272182
1695  Zimbabwe  1967     4995432    Africa    53.995  569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635  799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674  685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363  788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

How can we find the datatype, name, total entries in each column ? => df.info()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
df.shape

(1704, 6)

In [ ]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [ ]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
type(df['country'])

pandas.core.series.Series

 what can you observe from this ?

For object cols, the information printed includes:

count: Total non-null vals in the col
unique: Tells no. of unique vals in the col
top: Most common val
freq: No. of occurences of the most common val

In [ ]:
df.describe(include='object')

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

How can we get info about object datatype columns ?

To print the info of such cols we will have to use the include parameter of the function

It takes list of dtypes as the input

In [ ]:
df.describe(include = ["object", "int64", "float64"])

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

## Basic operations on columns


#### How can we get the names of cols ?
- `df.columns`
- `df.keys`

In [ ]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [ ]:
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

**pandas dataframe treat column names as keys**

#### Question: In which built-in data-type have we seen keys before?

- **Dictionary**

- Remember in dictionary, **we pass in the key as index** and it **gives the value**



Pandas DataFrame and Series are **specialised dictionary**

In [ ]:
df['country'].head(5)

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

- It can take multiple keys

In [ ]:
df[['country' ,'year' ,'population']].head()

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

### Now we want to find the countries that have been surveyed

#### How can we do that ?
  - For this, we need to find the unique vals in the `country` column

In [ ]:
df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
df['country'].nunique() #number of unique country

142

Now if you also want to check for count for each country in df['column'] ?

value_counts()

In [ ]:
df['country'].value_counts()

country
Afghanistan           12
Albania               12
Algeria               12
Angola                12
Argentina             12
                      ..
Vietnam               12
West Bank and Gaza    12
Yemen, Rep.           12
Zambia                12
Zimbabwe              12
Name: count, Length: 142, dtype: int64

In [ ]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

And what if we want to change the name of a column ?

df.rename()

In [ ]:
df.rename({'country':'Country_Name','continent':'Continent_Name'},axis=1)

     Country_Name  year  population Continent_Name  life_exp     gdp_cap
0     Afghanistan  1952     8425333           Asia    28.801  779.445314
1     Afghanistan  1957     9240934           Asia    30.332  820.853030
2     Afghanistan  1962    10267083           Asia    31.997  853.100710
3     Afghanistan  1967    11537966           Asia    34.020  836.197138
4     Afghanistan  1972    13079460           Asia    36.088  739.981106
...           ...   ...         ...            ...       ...         ...
1699     Zimbabwe  1987     9216418         Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340         Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948         Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563         Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143         Africa    43.487  469.709298

[1704 rows x 6 columns]

To make it inplace set the `inplace` argument = True

In [ ]:
df.rename({"country": "Country"}, axis = 1, inplace = True)
df

          Country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

**Accessing column vals using attribute-style access**

In [ ]:
df.Country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: Country, Length: 1704, dtype: object

In [ ]:
df.Country is df['Country']

True

#### How can we delete cols in pandas dataframe ?
- `df.drop()`

#### Now why did this error happen?

- We did not specify the `axis` along which it should look for


#### Remember the concept of axis from previous class?

- `axis=0` ---> Rows collapse


- `axis=1` ---> Columns collapse


- By **default**, it takes **`axis=0`**

In [ ]:
df.drop('continent')

KeyError: "['continent'] not found in axis"

In [ ]:
df.drop('continent' , axis=1)

          Country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]


#### Do you see what's happening here?

- We only got a **view of dataframe with column `continent` dropped**


- If we want to **permanently drop the column** from `df`, we can either **re-assign** it
    
    `df = df.drop('continent', axis=1`)
    
    
        OR
    
- We can **set parameter `inplace=True`**
    
- (By **default, `inplace=False`**)

In [ ]:
df.drop('continent' , axis=1 , inplace=True)

In [ ]:
df

          Country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

### Adding new columns in DataFrame


#### Using values from existing columns

In [ ]:
df['New_Year']=df['year']+df['population']

In [ ]:
df

          Country  year  population  life_exp     gdp_cap  New_Year
0     Afghanistan  1952     8425333    28.801  779.445314   8427285
1     Afghanistan  1957     9240934    30.332  820.853030   9242891
2     Afghanistan  1962    10267083    31.997  853.100710  10269045
3     Afghanistan  1967    11537966    34.020  836.197138  11539933
4     Afghanistan  1972    13079460    36.088  739.981106  13081432
...           ...   ...         ...       ...         ...       ...
1699     Zimbabwe  1987     9216418    62.351  706.157306   9218405
1700     Zimbabwe  1992    10704340    60.377  693.420786  10706332
1701     Zimbabwe  1997    11404948    46.809  792.449960  11406945
1702     Zimbabwe  2002    11926563    39.989  672.038623  11928565
1703     Zimbabwe  2007    12311143    43.487  469.709298  12313150

[1704 rows x 6 columns]

In [ ]:
df['Country_dp']=df['Country']

In [ ]:
df

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp
0,Afghanistan,1952,8425333,28.801,779.445314,8427285,Afghanistan
1,Afghanistan,1957,9240934,30.332,820.853030,9242891,Afghanistan
2,Afghanistan,1962,10267083,31.997,853.100710,10269045,Afghanistan
3,Afghanistan,1967,11537966,34.020,836.197138,11539933,Afghanistan
4,Afghanistan,1972,13079460,36.088,739.981106,13081432,Afghanistan
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,9218405,Zimbabwe
1700,Zimbabwe,1992,10704340,60.377,693.420786,10706332,Zimbabwe
1701,Zimbabwe,1997,11404948,46.809,792.449960,11406945,Zimbabwe
1702,Zimbabwe,2002,11926563,39.989,672.038623,11928565,Zimbabwe
1703,Zimbabwe,2007,12311143,43.487,469.709298,12313150,Zimbabwe

In [ ]:
df["New"] = df["life_exp"] + df["year"]
df

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp,New
0,Afghanistan,1952,8425333,28.801,779.445314,8427285,Afghanistan,1980.801
1,Afghanistan,1957,9240934,30.332,820.853030,9242891,Afghanistan,1987.332
2,Afghanistan,1962,10267083,31.997,853.100710,10269045,Afghanistan,1993.997
3,Afghanistan,1967,11537966,34.020,836.197138,11539933,Afghanistan,2001.020
4,Afghanistan,1972,13079460,36.088,739.981106,13081432,Afghanistan,2008.088
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,9218405,Zimbabwe,2049.351
1700,Zimbabwe,1992,10704340,60.377,693.420786,10706332,Zimbabwe,2052.377
1701,Zimbabwe,1997,11404948,46.809,792.449960,11406945,Zimbabwe,2043.809
1702,Zimbabwe,2002,11926563,39.989,672.038623,11928565,Zimbabwe,2041.989
1703,Zimbabwe,2007,12311143,43.487,469.709298,12313150,Zimbabwe,2050.487

In [ ]:
df.drop('New' , axis=1 , inplace=True)

In [ ]:
df

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp
0,Afghanistan,1952,8425333,28.801,779.445314,8427285,Afghanistan
1,Afghanistan,1957,9240934,30.332,820.853030,9242891,Afghanistan
2,Afghanistan,1962,10267083,31.997,853.100710,10269045,Afghanistan
3,Afghanistan,1967,11537966,34.020,836.197138,11539933,Afghanistan
4,Afghanistan,1972,13079460,36.088,739.981106,13081432,Afghanistan
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,9218405,Zimbabwe
1700,Zimbabwe,1992,10704340,60.377,693.420786,10706332,Zimbabwe
1701,Zimbabwe,1997,11404948,46.809,792.449960,11406945,Zimbabwe
1702,Zimbabwe,2002,11926563,39.989,672.038623,11928565,Zimbabwe
1703,Zimbabwe,2007,12311143,43.487,469.709298,12313150,Zimbabwe

### Creating own values for new column

- We can **create a list**

OR

- We can **create a Pandas Series** for our new column

OR

- We can **create a Numpy Array and convert it into Pandas Series**


## Working with Rows

In [ ]:
ser = df["Country"]
ser

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: Country, Length: 1704, dtype: object

In [ ]:
ser[6]

'Afghanistan'

#### And what about accessing the 6th:15th row ?

In [ ]:
ser[6:15]

6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
Name: Country, dtype: object

In [ ]:
ser.shape[0]

1704


#### How start indexing with 1 instead of 0 ?
  - `df.index()`
  
  - Takes a series/list/vector of values having same number of values as rows in the df/series

In [ ]:
import numpy as np

ser.index = np.arange(1, ser.shape[0]+1, dtype=np.int32, step = 1)
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: Country, Length: 1704, dtype: object


#### But why not use just implicit indexing ?

  - Explicit indices can be changed to any value of any datatype
    - Eg: Explicit Index of 1st row can be changes to "First"


#### There is a slight problem in it

Lets look at another dummy series to understand this

In [ ]:
import pandas as pd
data = pd.Series(['a', 'b', 'c'], index=[1, 5, 3])
data

1    a
5    b
3    c
dtype: object

In [ ]:
data[1] # Uses explicit index

'a'

In [ ]:
data[1:3] # Uses implicit index

5    b
3    c
dtype: object

You can also provide index as str

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=['p', 'q', 'r'])
data

p    a
q    b
r    c
dtype: object

#### What can we infer from this ?
  - **Indexing in Series** used **explicit index**
  - **Slicing** however used **implicit index**

This can be a cause for confusion; to avoid this, pandas provides special indexers


#### **1. loc**

Allows indexing and slicing that always references the explicit index

In [ ]:
data.loc['p']

'a'

#### **2. iloc**

Allows indexing and slicing that always references the implicit Python-style index

In [ ]:
data.iloc[1]

'b'



#### How to access the ith row ?

In [ ]:
df.loc[3]  # Row with label 3

Country       Afghanistan
year                 1967
population       11537966
life_exp            34.02
gdp_cap        836.197138
New_Year         11539933
Country_dp    Afghanistan
Name: 3, dtype: object

In [ ]:
df.iloc[3] # Row at position 3

Country       Afghanistan
year                 1967
population       11537966
life_exp            34.02
gdp_cap        836.197138
New_Year         11539933
Country_dp    Afghanistan
Name: 3, dtype: object

#### What if we want to access multiple non-consecutive rows at same time ?

  - We can just **pack the indices in `[]`** and pass it in `loc` or `iloc`

In [ ]:
df.iloc[[1, 10, 100]]

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp
1,Afghanistan,1957,9240934,30.332,820.853030,9242891,Afghanistan
10,Afghanistan,2002,25268405,42.129,726.734055,25270407,Afghanistan
100,Bangladesh,1972,70759295,45.252,630.233627,70761267,Bangladesh

In [ ]:
df.loc[[1, 10, 100]]

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp
1,Afghanistan,1957,9240934,30.332,820.853030,9242891,Afghanistan
10,Afghanistan,2002,25268405,42.129,726.734055,25270407,Afghanistan
100,Bangladesh,1972,70759295,45.252,630.233627,70761267,Bangladesh

#### What if we pass negative index in `iloc` and

1.   List item
2.   List item

`loc`?

In [ ]:
df.iloc[-1]

# Works and gives last row in dataframe

Country         Zimbabwe
year                2007
population      12311143
life_exp          43.487
gdp_cap       469.709298
New_Year        12313150
Country_dp      Zimbabwe
Name: 1703, dtype: object

#### So, why did `iloc[-1]` worked, but `loc[-1]` didn't?

- Because **`iloc` works with positional indices**
- [-1] is the **row at last position**


- **`loc` works with assigned labels**
- There is **no such row with a label of -1**

In [ ]:
df.loc[-1]

# Does NOT work

KeyError: -1

#### What if I want to use one of the columns as row index?
  - Using the `set_index()` method

In [ ]:
temp = df.set_index("Country")
temp

             year  population  life_exp     gdp_cap  New_Year   Country_dp
Country
Afghanistan  1952     8425333    28.801  779.445314   8427285  Afghanistan
Afghanistan  1957     9240934    30.332  820.853030   9242891  Afghanistan
Afghanistan  1962    10267083    31.997  853.100710  10269045  Afghanistan
Afghanistan  1967    11537966    34.020  836.197138  11539933  Afghanistan
Afghanistan  1972    13079460    36.088  739.981106  13081432  Afghanistan
...           ...         ...       ...         ...       ...          ...
Zimbabwe     1987     9216418    62.351  706.157306   9218405     Zimbabwe
Zimbabwe     1992    10704340    60.377  693.420786  10706332     Zimbabwe
Zimbabwe     1997    11404948    46.809  792.449960  11406945     Zimbabwe
Zimbabwe     2002    11926563    39.989  672.038623  11928565     Zimbabwe
Zimbabwe     2007    12311143    43.487  469.709298  12313150     Zimbabwe

[1704 rows x 6 columns]

In [ ]:
temp.loc["India"]

         year  population  life_exp      gdp_cap    New_Year Country_dp
Country
India    1952   372000000    37.373   546.565749   372001952      India
India    1957   409000000    40.249   590.061996   409001957      India
India    1962   454000000    43.605   658.347151   454001962      India
India    1967   506000000    47.193   700.770611   506001967      India
India    1972   567000000    50.651   724.032527   567001972      India
India    1977   634000000    54.208   813.337323   634001977      India
India    1982   708000000    56.596   855.723538   708001982      India
India    1987   788000000    58.553   976.512676   788001987      India
India    1992   872000000    60.223  1164.406809   872001992      India
India    1997   959000000    61.765  1458.817442   959001997      India
India    2002  1034172547    62.879  1746.769454  1034174549      India
India    2007  1110396331    64.698  2452.210407  1110398338      India

In [ ]:
temp["life_exp"]["India"]

Country
India    37.373
India    40.249
India    43.605
India    47.193
India    50.651
India    54.208
India    56.596
India    58.553
India    60.223
India    61.765
India    62.879
India    64.698
Name: life_exp, dtype: float64

### Adding a row


 * **Using `.append()`**

In [ ]:
Dict = {'country': 'India', 'year': 2000,'life_exp':37.08,'population':13500000,'gdp_cap':900.23}
Dict

{'country': 'India',
 'year': 2000,
 'life_exp': 37.08,
 'population': 13500000,
 'gdp_cap': 900.23}

In [ ]:
df

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp
0,Afghanistan,1952,8425333,28.801,779.445314,8427285,Afghanistan
1,Afghanistan,1957,9240934,30.332,820.853030,9242891,Afghanistan
2,Afghanistan,1962,10267083,31.997,853.100710,10269045,Afghanistan
3,Afghanistan,1967,11537966,34.020,836.197138,11539933,Afghanistan
4,Afghanistan,1972,13079460,36.088,739.981106,13081432,Afghanistan
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,9218405,Zimbabwe
1700,Zimbabwe,1992,10704340,60.377,693.420786,10706332,Zimbabwe
1701,Zimbabwe,1997,11404948,46.809,792.449960,11406945,Zimbabwe
1702,Zimbabwe,2002,11926563,39.989,672.038623,11928565,Zimbabwe
1703,Zimbabwe,2007,12311143,43.487,469.709298,12313150,Zimbabwe


* `ignore_index = True` Means the index from the series or the source dataframe will be ignored.

* The index available in the target dataframe will be used

**Note:**

* append()  does not change the existing DataFrame, but returns a new DataFrame with the row appended.

In [ ]:
new_row_df = pd.DataFrame([Dict])
df = pd.concat([df, new_row_df] , ignore_index=True)
df

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp,country
0,Afghanistan,1952,8425333,28.801,779.445314,8427285.0,Afghanistan,NaN
1,Afghanistan,1957,9240934,30.332,820.853030,9242891.0,Afghanistan,NaN
2,Afghanistan,1962,10267083,31.997,853.100710,10269045.0,Afghanistan,NaN
3,Afghanistan,1967,11537966,34.020,836.197138,11539933.0,Afghanistan,NaN
4,Afghanistan,1972,13079460,36.088,739.981106,13081432.0,Afghanistan,NaN
...,...,...,...,...,...,...,...,...
1703,Zimbabwe,2007,12311143,43.487,469.709298,12313150.0,Zimbabwe,NaN
1704,NaN,2000,13500000,37.080,900.230000,NaN,NaN,India
1705,NaN,2000,13500000,37.080,900.230000,NaN,NaN,India
1706,NaN,2000,13500000,37.080,900.230000,NaN,NaN,India
1707,NaN,2000,13500000,37.080,900.230000,NaN,NaN,India



### Drop Duplicates:


-  `df.duplicated()`.

Returns True if an entire row is identical to a previous row.

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1703    False
1704    False
1705     True
1706     True
1707     True
Length: 1708, dtype: bool

In [ ]:
# Extract duplicate rows
df.loc[df.duplicated(), :]

     Country  year  population  life_exp  gdp_cap  New_Year Country_dp country
1705     NaN  2000    13500000     37.08   900.23       NaN        NaN   India
1706     NaN  2000    13500000     37.08   900.23       NaN        NaN   India
1707     NaN  2000    13500000     37.08   900.23       NaN        NaN   India

Now if you want to remove all **duplicate rows** ?

**`drop_duplicates()`** method that helps in removing duplicates from the data frame.

among all duplicate rows which one you want to keep ?

In [ ]:
df = df.drop_duplicates(keep='first')
df

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp,country
0,Afghanistan,1952,8425333,28.801,779.445314,8427285.0,Afghanistan,NaN
1,Afghanistan,1957,9240934,30.332,820.853030,9242891.0,Afghanistan,NaN
2,Afghanistan,1962,10267083,31.997,853.100710,10269045.0,Afghanistan,NaN
3,Afghanistan,1967,11537966,34.020,836.197138,11539933.0,Afghanistan,NaN
4,Afghanistan,1972,13079460,36.088,739.981106,13081432.0,Afghanistan,NaN
...,...,...,...,...,...,...,...,...
1700,Zimbabwe,1992,10704340,60.377,693.420786,10706332.0,Zimbabwe,NaN
1701,Zimbabwe,1997,11404948,46.809,792.449960,11406945.0,Zimbabwe,NaN
1702,Zimbabwe,2002,11926563,39.989,672.038623,11928565.0,Zimbabwe,NaN
1703,Zimbabwe,2007,12311143,43.487,469.709298,12313150.0,Zimbabwe,NaN
1704,NaN,2000,13500000,37.080,900.230000,NaN,NaN,India



**keep** argument can take three distinct value and default is ‘first’.


* If `first`, This considers first value as unique and rest of the same values as duplicate.
* If `last`, This considers last value as unique and rest of the same values as duplicate.
* If `False`, This considers all of the same values as duplicates.

#### What if you want to look for duplicacy only for a few columns?

- **subset** argument to mention the list of columns which we want to use.

In [ ]:
print(df.drop_duplicates(subset=['year'],keep='first'))

          Country  year  population  life_exp     gdp_cap    New_Year  \
0     Afghanistan  1952     8425333    28.801  779.445314   8427285.0
1     Afghanistan  1957     9240934    30.332  820.853030   9242891.0
2     Afghanistan  1962    10267083    31.997  853.100710  10269045.0
3     Afghanistan  1967    11537966    34.020  836.197138  11539933.0
4     Afghanistan  1972    13079460    36.088  739.981106  13081432.0
5     Afghanistan  1977    14880372    38.438  786.113360  14882349.0
6     Afghanistan  1982    12881816    39.854  978.011439  12883798.0
7     Afghanistan  1987    13867957    40.822  852.395945  13869944.0
8     Afghanistan  1992    16317921    41.674  649.341395  16319913.0
9     Afghanistan  1997    22227415    41.763  635.341351  22229412.0
10    Afghanistan  2002    25268405    42.129  726.734055  25270407.0
11    Afghanistan  2007    31889923    43.828  974.580338  31891930.0
1704          NaN  2000    13500000    37.080  900.230000         NaN

       Country_dp country
0     Afghanistan     NaN
1     Afghanistan     NaN
2     Afghanistan     NaN
3     Afghanistan     NaN
4     Afghanistan     NaN
5     Afghanistan     NaN
6     Afghanistan     NaN
7     Afghanistan     NaN
8     Afghanistan     NaN
9     Afghanistan     NaN
10    Afghanistan     NaN
11    Afghanistan     NaN
1704          NaN   India

### Deleting a row

- using `df.drop()`


#### What will be value of `axis` parameter for deleting a row?

- **`axis=0`**

- OR we can just leave it, because default value of `axis` is `0`


- **`drop()` uses labels**, NOT positional indices


***

## Working with Rows and Columns together

In [ ]:
df.iloc[1:5, 1:4]

# Gives rows from index 1 to 4 (5 NOT included)

# Gives columns from index 1 to 3 (4 NOT included)

   year  population  life_exp
1  1957     9240934    30.332
2  1962    10267083    31.997
3  1967    11537966    34.020
4  1972    13079460    36.088

#### Can we do the same thing with `loc`?

In [ ]:
df.loc[1:5, 1:4]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

#### Slicing using indices doesn't work with `loc`

- Because **`loc` works with labels**

- **Labels for rows are 0, 1, 3, ...**

- **Labels for columns are `country`, `continent`, `year`, ...**
    - NOT 0, 1, 2, 3, ...

In [ ]:
df.loc[1:5, ['country','life_exp']]

# Row with label 5 will be included

# Columns labels are packed in []

  country  life_exp
1     NaN    30.332
2     NaN    31.997
3     NaN    34.020
4     NaN    36.088
5     NaN    38.438

In [ ]:
df.iloc[1:10:2]

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp,country
1,Afghanistan,1957,9240934,30.332,820.853030,9242891.0,Afghanistan,NaN
3,Afghanistan,1967,11537966,34.020,836.197138,11539933.0,Afghanistan,NaN
5,Afghanistan,1977,14880372,38.438,786.113360,14882349.0,Afghanistan,NaN
7,Afghanistan,1987,13867957,40.822,852.395945,13869944.0,Afghanistan,NaN
9,Afghanistan,1997,22227415,41.763,635.341351,22229412.0,Afghanistan,NaN

## Let's look at more in-built operations in Pandas

- `mean()` gives us the mean of values in entire column

In [ ]:
le = df['life_exp']
le.mean()

np.float64(59.46130479765396)

In [ ]:
le.min()

23.599

In [ ]:
le.min()

23.599

In [ ]:
le.max()

82.603

In [ ]:
le.count()

np.int64(1705)

In [ ]:
le.sum()

np.float64(101381.52468)

In [ ]:
le.sum()/le.count()

np.float64(59.46130479765396)

## Sorting

- **use `df.sort_values()`**

In [ ]:
df.sort_values(['Country'] , ascending=False)

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp,country
1703,Zimbabwe,2007,12311143,43.487,469.709298,12313150.0,Zimbabwe,NaN
1697,Zimbabwe,1977,6642107,57.674,685.587682,6644084.0,Zimbabwe,NaN
1692,Zimbabwe,1952,3080907,48.451,406.884115,3082859.0,Zimbabwe,NaN
1693,Zimbabwe,1957,3646340,50.469,518.764268,3648297.0,Zimbabwe,NaN
1694,Zimbabwe,1962,4277736,52.358,527.272182,4279698.0,Zimbabwe,NaN
...,...,...,...,...,...,...,...,...
9,Afghanistan,1997,22227415,41.763,635.341351,22229412.0,Afghanistan,NaN
10,Afghanistan,2002,25268405,42.129,726.734055,25270407.0,Afghanistan,NaN
11,Afghanistan,2007,31889923,43.828,974.580338,31891930.0,Afghanistan,NaN
0,Afghanistan,1952,8425333,28.801,779.445314,8427285.0,Afghanistan,NaN
1704,NaN,2000,13500000,37.080,900.230000,NaN,NaN,India



- By **default**, values are sorted in **ascending order**


- If we **set the parameter `ascending=False`**, rows will be sorted in **descending order** of values



#### Sorting on multiple columns


#### Now what will Sorting based on `'year'` and `'lifeExp'` mean?

- It means **rows will first be sorted based on ascending order of `'year'`**


- Then, **rows with same values of `'year'`** will be sorted based on **ascending order of `'lifeExp'`**

In [ ]:
df.sort_values(['life_exp', 'year'])

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp,country
1292,Rwanda,1992,7290203,23.599,737.068595,7292195.0,Rwanda,NaN
0,Afghanistan,1952,8425333,28.801,779.445314,8427285.0,Afghanistan,NaN
552,Gambia,1952,284320,30.000,485.230659,286272.0,Gambia,NaN
36,Angola,1952,4232095,30.015,3520.610273,4234047.0,Angola,NaN
1344,Sierra Leone,1952,2143249,30.331,879.787736,2145201.0,Sierra Leone,NaN
...,...,...,...,...,...,...,...,...
1487,Switzerland,2007,7554661,81.701,37506.419070,7556668.0,Switzerland,NaN
695,Iceland,2007,301931,81.757,36180.789190,303938.0,Iceland,NaN
802,Japan,2002,127065841,82.000,28604.591900,127067843.0,Japan,NaN
671,"Hong Kong, China",2007,6980412,82.208,39724.978670,6982419.0,"Hong Kong, China",NaN
803,Japan,2007,127467972,82.603,31656.068060,127469979.0,Japan,NaN

#### We can also have different orders for different columns in multi-level sorting

- Just **pack `True` and `False` for respective columns in a list `[]`**

In [ ]:
df.sort_values(['year', 'life_exp'], ascending=[False, False])

,Country,year,population,life_exp,gdp_cap,New_Year,Country_dp,country
803,Japan,2007,127467972,82.603,31656.068060,127469979.0,Japan,NaN
671,"Hong Kong, China",2007,6980412,82.208,39724.978670,6982419.0,"Hong Kong, China",NaN
695,Iceland,2007,301931,81.757,36180.789190,303938.0,Iceland,NaN
1487,Switzerland,2007,7554661,81.701,37506.419070,7556668.0,Switzerland,NaN
71,Australia,2007,20434176,81.235,34435.367440,20436183.0,Australia,NaN
...,...,...,...,...,...,...,...,...
1032,Mozambique,1952,6446316,31.286,468.526038,6448268.0,Mozambique,NaN
1344,Sierra Leone,1952,2143249,30.331,879.787736,2145201.0,Sierra Leone,NaN
36,Angola,1952,4232095,30.015,3520.610273,4234047.0,Angola,NaN
552,Gambia,1952,284320,30.000,485.230659,286272.0,Gambia,NaN
0,Afghanistan,1952,8425333,28.801,779.445314,8427285.0,Afghanistan,NaN

### How can we create a DataFrame?

- Using **class constructor `DataFrame()`**


### Approach 1: Row-oriented


- It takes **2 arguments**
    - A **list of rows**
    - A **list of column names/labels**


- **Values in each row are packed in a list `[]`**
- **Then all rows are packed in an outside list `[]`** - To **pass a list of rows**


- And a **list of names/labels of columns**

In [ ]:
pd.DataFrame([[10,20],[30,40]], columns=['A','B'])

    A   B
0  10  20
1  30  40


### Approach 2: Column-oriented


- We **pass in a dictionary** in `DataFrame()` constructor


- **Key** is the **Column Name/Label**


- **Value** is the **list of values column-wise**

In [ ]:
pd.DataFrame({'A':[10,30,100], 'B':[20,40,10]})

     A   B
0   10  20
1   30  40
2  100  10